body {
    background: green; 
    margin: 0 auto;

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1em;
	font-size: 24px;
	color: white;
}

.content-left {
    background: blue;
    padding: 1em;
    margin: 2em;
    border-radius: 20px;
	justify-content: left
}

.content-right {
    background: black;
    padding: 1em;
    margin: 2em;
    border-radius: 20px;
}

.kartinka {
    max-width: 564px;
    border-radius: 50%;
