body {
    background: green; 
    margin: 0 auto;

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1em;
}

.content-left {
    background: blue;
    padding: 10em;
    margin: 2em;
    border-radius: 20px;
	justify-content: left
}

.content-right {
    background: white;
    padding: 1em;
    margin: 2em;
    border-radius: 20px;
}

.profile-picture {
    max-width: 150px;
    border-radius: 50%;
